@model IEnumerable<EPSolutions.Models.ItensRomaneio>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Romaneios</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="get" class="form-inline justify-content-center justify-content-md-start mb-3 mb-md-0" action="/ItensRomaneio/Pesquisar" id="formBusca">
                <input type="text" id="searchInput" placeholder="Pesquisar por Romaneio" class="form-control form-control-sm mr-2 mr-md-2 mb-2 mb-md-0" name="id" />
                <button type="submit" class="btn btn-sm btn-success my-2 my-sm-0 form-control form-control-sm" id="searchButton">Buscar</button>
            </form>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <form asp-controller="ItensRomaneio" asp-action="Entregar" method="post">
            <input type="hidden" name="IdRomaneio" value="@TempData["IdRomaneio"]" />

            <div class="row mt-3">
                <div class="col-12">
                    <h2><strong>Romaneio: @TempData["IdRomaneio"]</strong></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Caixa</th>
                                <th>Volumes</th>
                                <th>Descrição</th>
                                <th>Entregue</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.NrCaixa</td>
                                    <td>@item.DescrVolumes</td>
                                    <td><input type="checkbox" name="ItensEntregues" value="@item.Id" @(item.Entregue ?? false ? "checked" : "") /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button class="btn btn-sm btn-success form-control form-control-sm" type="submit">Salvar</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-sm btn-secondary form-control form-control-sm" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    }
</div>
